body{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

#table{
    width: 5%;
    height: 25%;
    text-align: center;
}

#navbar{
    background-color: black;
    font-size: 20px;
}

#loremIpsum{
    width: 25%;
    padding: 0%;
    float: left;
}

#table{
    width: 50%;
    float: right;
}

#elek{
    background-color: bisque;
}

#aard{
    background-color: aqua;
}
