body{
    display: inline-block;

}

#loremIpsum{
    width: 25%;
    padding: 0%;
    float: left;
}

#table{
    width: 50%;
    float: right;
}

#elek{
    background-color: bisque;
}

#aard{
    background-color: aqua;
}
